@charset "utf-8";

/*全体*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #c4dded;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
#ja_en, header, #slider01_pc,
 #main01, #main02, #main03,
 #main04, footer {
  margin: 0 auto 0 auto;
  width: 1080px;
  background-color: white;
}
.pc_img {
  display: inline-block;
  text-align: center;
}
.sp_img {
  display: none;
}

/*header*/
header {
  padding-top: 30px;
}
#ja_en ul {
  margin-top: 0;
  margin-right: 110px;
}
#ja_en ul li {
  float: right;
  margin-top: 0;
  padding-left: 10px;
}
header h1.pc_img , header h1.sp_img {
  clear: both;
  text-align: center;
  margin-bottom: 0;
  margin-left: 25%;
}

/*bunner*/
#banner {
  position: absolute;
}
#banner ul {
  text-align: center;
  position: fixed;
  top: 30%;
  right: 4%;
}
.hk {
  background-image: url("../images_pc/henkan01.png");
  background-repeat: no-repeat;
  background-position: center top;
}
.hk a {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: black;
}
.hk img {
  border: none;
}
.hk a:hover {
  background: none;
}
.hk a:hover img {
  visibility: hidden;
}
.erb {
  background-image: url("../images_pc/erabu01.png");
  background-repeat: no-repeat;
  background-position: center top;
}
.erb a {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: black;
}
.erb img {
  border: none;
}
.erb a:hover {
  background: none;
}
.erb a:hover img {
  visibility: hidden;
}

/*slider001*/
#slider01_pc {
  text-align: center;
  padding: 0 40px;
  position: relative;
}
#slider001 {
  position: relative;
}
#henkansitemiru a {
  margin: 0;
  padding: 20px 0 0 0;
  display: inline-block;
  height: 60px;
  width: 400px;
  vertical-align: middle;
  background-color: white;
  color: red;
  font-weight: bold;
  font-size: 150%;
  border: 1px solid red;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  bottom: 80px;
  right: 20%;
}

/*main01*/
#main01 h2 {
  margin: 0;
  padding-top: 30px;
  padding-left: 13%;
  text-align: center;
}
#main01 p {
  text-align: center;
}
#main01 #tom01 {
  padding-left: 13%;
}

#main01 .henkan {
  background-color: #c4dded;
  text-align: center;
  width: 1000px;
  margin: 0 40px;
  padding-bottom: 35px;
  border-radius: 10px;
}
#main01 .henkan h2 {
  color: red;
}
#main01 .henkan input {
  vertical-align: middle;
}
#search {
  height: 47px;
  width: 340px;
  font-size: 30px;
  border-radius: 10px;
}
#convert {
  margin-left: 8px;
  width: 95px;
  height: 50px;
  background-color: red;
  font-size: 125%;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}

/*main02*/
#main02 h2 {
  margin: 0;
  padding: 50px 40px 20px 40px;
}
#main02 h3 {
  padding-left: 40px;
  float: left;
}
#main02 table {
  float: right;
  padding-right: 40px;
  background-color: white;
}

#main02 table tr th {
  padding-top: 10px;
}
.step123 {
  padding-top: 20px;
  display: block;
  width: 175px;
  float: left;
  margin-left: 10px;
}
.step123 img {
  width: 175px;
  height: auto;
}
.tukuttemiru {
  margin: 0;
  padding: 20px 0 0 0;
  display: inline-block;
  height: 49px;
  width: 560px;
  background-color: red;
  color: white;
  font-size: 130%;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 10px;
}
.tukuttemiru a {
  display: block;
  height: 64px;
  width: 560px;
  color: white;
  text-decoration: none;
}

/*slider002*/
#main02 #step_slider {
  padding-left: 38px;
  padding-right: 38px;
}
#main02 #step_slider ul#thumbnail-list {
  clear: both;
  display: inline-block;
  width: 1000px;
  height: 70px;
  border: 2px solid red;
  border-radius: 10px;
}
#main02 #step_slider ul#thumbnail-list li {
  float: left;
  display: inline-block;
  width: 332px;
  height: 30px;
  text-align: center;
  padding: 20px 0;
  border-left: 2px solid red;
  color: red;
  font-size: 130%;
  font-weight: bold;
}
#main02 #step_slider ul#thumbnail-list li:first-child {
   border-left: none;
   border-bottom-left-radius: 8px;
   border-top-left-radius: 8px;
 }
 #main02 #step_slider ul#thumbnail-list li:last-child {
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px
 }
 #main02 #step_slider ul#thumbnail-list li:hover {
   color: white;
   background-color: red;
 }
#main02 #step_slider ul#slider02 {
  clear: both;
  padding: 50px 55px;
  margin: 0;
}
.slide-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
}
.prev-arrow {
  left: 10px;
}
.next-arrow {
  right: 10px;
}

/*main03*/
#main03 h2 {
  margin: 0;
  padding: 50px 40px 20px 40px;
}
#main03 h3 {
  text-align: center;
}
#main03 h3 img {
  display: inline;
  vertical-align: middle;
}
#main03 .goraiten {
  text-align: center;
}
.goraiten04 {
  margin-bottom: 0;
}

/*main04*/
#main04 h2 {
  margin: 0;
  padding: 50px 40px 20px 40px;
}
#main04 h3 {
  border-bottom: 1px solid;
  margin-left: 40px;
  margin-right: 40px;
}
#main04 dl dt {
  float: left;
  clear: left;
}
.otodoke01, .otodoke02,
.osiharai02,
.haisouryou01, .haisouryou02 {
  margin-left: 85px;
}
.otodoke02, .osiharai02 {
  margin-bottom: 40px;
}
.haisouryou02 {
  margin-bottom: 0;
  padding-bottom: 40px;
}
.osiharai01 {
  list-style-type: disc;
  margin-left: 100px;
  margin-bottom: 0;
}
.otodoke02 a {
  text-decoration: none;
}

/*footer*/
footer, footer h3, footer dl {
  margin-top: 0;
}
footer dl {
  height: 300px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
footer dl dt {
  float: left;
  clear: left;
  display: inline-block;
  vertical-align: middle;
  margin-left: 250px;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer dl dd {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}
footer {
  position: relative;
}
footer a img {
  position: fixed;
  bottom: 0;
  right: 10%;
}
